{{- if .Values.admissionController.enabled }}
{{ $tls := include "admissionController.tls" . | fromYaml }}
apiVersion: v1
kind: Secret
metadata:
  annotations:
    {{- include "annotations" . | nindent 4 }}
  labels:
    {{- include "labels" . | nindent 4 }}
    {{- include "admissionController.labels" . | nindent 4 }}
  name: {{ include "admissionController.resourceNamePrefix" . }}-secret
  namespace: {{ .Release.Namespace }}
data:
  tls.key: {{ $tls.serverCertificateKey }}
  tls.crt: {{ $tls.serverCertificate }}
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  annotations:
    {{- include "annotations" . | nindent 4 }}
  labels:
    {{- include "labels" . | nindent 4 }}
    {{- include "admissionController.labels" . | nindent 4 }}
  name: {{ include "admissionController.resourceNamePrefix" . }}-vwc
webhooks:
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    caBundle: {{ $tls.serverCertificateAuthorityCertificate }}
    service:
      name: (include "admissionController.resourceNamePrefix" .)-service
      namespace: {{ .Release.Namespace }}
      path: /v1/admit
  failurePolicy: {{ .Values.admissionController.webhook.failurePolicy }}
  matchPolicy: Exact
  name: tenable
  namespaceSelector:
    matchExpressions:
    - key: kubernetes.io/metadata.name
      operator: NotIn
      values:
      - {{ .Release.Namespace }}
  sideEffects: None
  timeoutSeconds: {{ .Values.admissionController.webhook.timeoutSeconds }}
{{- end }}